/* ----- Variables ----- */

:root{
    /* Colores */
    --green-color: #7ACC2D;
    --obscure-color: #313337;
    
    /* Sombra de caja */
    --box: 0 0 2px 1px #e6e5e9;
}

body,
html{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #313337;
}

/* -------------- nav section ---------------- */

nav{
    padding: 10px;
    display: flex;
    background: #7ACC2D;
    justify-content: space-between;
    align-items: center;
}

nav .nav-options{
    display: inherit;
}

nav ul{
    display: inherit;
}

nav li{
    display: inherit;
    padding-left: 20px;
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: #313337;
}

nav li a:hover{
    color: white;
}

/* -------------------- Main section ---------------- */

.main-section{
    margin: 10% 26% 22%;
    text-align: center;
}

.products{
    background-image: url('../images/curve.png');
    background-size: cover;
    background-position: center top;
    height: 300px;
    display: flex;
    justify-content: center;
}

.product{
    margin: 10px;
    margin-top: -220px;
}

.product .content{
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 2px #c1bcbc;
    width: 216px;
}

.image-content{
    text-align: center;
}

.main-button{
    background-color: #7ACC2D;
    width: 100%;
    padding: 5px;
    font-size: 17px;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.main-botton:hover{
    background: #5e9e22;
}

/* ------------------- Benefits section ---------------- */

.benefit-container{
    display: flex;
    justify-content: center;
    border-bottom: solid 2px #f9f9f9;
    flex-wrap: wrap;
}

.benefit-container figure{
    margin: 0;
    text-align: center;
}

.benefit-container img{
    height: 100px;
}

.benefit{
    width: 160px;
    margin: 10%;
}

/* ------ Mentions section -------- */

.mentions-title{
    text-align: center;
    margin-top: 4%;
}

.mentions-container{
    display: flex;
    justify-content: center;
    padding: 0 5% 5%;
    flex-wrap: wrap;
}

.mention{
    margin: 10px;
    width: 236px;
    border-radius: 3px;
    box-shadow: 0 0 6px #c1bcbc;
}

.image-mention-container{
    margin: 0;
    overflow: hidden;
}

.image-mention-container img{
    vertical-align: top;
}

.mention-title,
.mention-description{
    margin: 10px;
}

/* ------ footer ------- */

footer{
    background: #313337;
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer a{
    color: var(--green-color);
}

/* ----- Responsive design ----- */

@media screen and (max-width: 900px){
    .product {
        margin-top: -150px;
    }
}

@media screen and (max-width: 600px){
    .main-section{
        margin: 4%;
    }
    
    .products{
        height: auto;
        flex-wrap: wrap;
    }

    .product{
        margin-top: auto;
    }
}

/* ----- Animations ----- */

.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@keyframes fadeIn{
    from {
            opacity: 0;
    }
    to {
            opacity: 1;
    }
}

.fadeInDown{
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@keyframes fadeInDown{
    from {
            opacity: 0;
            transform: translate3d(0, -100%, 0);
            -webkit-transform: translate3d(0, -100%, 0);
    }
    to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
    }
}

.fadeInUp{
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp{
    from {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
            -webkit-transform: translate3d(0, 100%, 0);
    }
    to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
    }
}

/* ----- Sistema de grillas ----- */

.container{
    max-width: 900px;
    margin: auto;
}

.row{
    display: flex;
}

.col-1{
    width: 8.333333333333333%;
}

.col-2{
    width: 16.66666666666667%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.33333333333333%;
}

.col-5{
    width: 41.66666666666667%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33333333333333%;
}

.col-8{
    width: 66.66666666666666%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.33333333333333%;
}

.col-11{
    width: 91.66666666666666%;
}

.col-12{
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12{
    padding: 10px;    
}

@media screen and (max-width: 900px){
    .row{
        display: inherit;
    }
    
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12{
        width: 100%;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12{
        padding: 0;    
    }

    .row p,
    .row h1,
    .row h2,
    .row h3,
    form{
        text-align: center;
    }
}

/* ----- Products section ----- */

.row h1{
    font-size: 20px;
}

.row h2{
    font-size: 15px;
}

.image-container{
    margin: 0;
    text-align: center;
}

/* ----- Sales section ----- */

.payment-module{
    box-shadow: var(--box);
    padding: 10px;
}

.payment-module-image{
    margin: 0;
    text-align: center;
}

label{
    display: block;
    padding: 10px 0;
}

input{
    width: 100%;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--obscure-color);
    box-sizing: border-box;
}

.payment-module .main-button{
    margin-top: 10px;
}

.container-success{
    background: var(--obscure-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
}

.container-success a{
    color: var(--green-color);
}

